.kTunes {
  background: #2bd9c5;
  height: 100vh;

  img {
    border-radius: 50px;
  }

  .ant-layout {
    background: #2bd9c5;

    .ant-layout-has-sider {
      border-radius: 200px;
    }
  }
}

body {
  background: #2bd9c5;
}